<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <h1>Files</h1>
  <hr>
  <ul>
    <% files.forEach(file => { %>
      <li>
        <%= file.filename %> 
        <a href="/files/download/<%= file.id %>">Download</a> 
        <a href="/files/delete/<%= file.id %>">Delete</a> 
        <a href="/files/share/<%= file.id %>">Generate Link</a> 
        <br>
        <!-- <form action="/files/delete/<%= file.id %>" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <br>
        <form action="/files/share/<%= file.id %>" method="POST" style="display:inline;">
          <button type="submit">Generate Shareable Link</button>
        </form> -->
        <br>
        <% if (file.shared_link) { %>
          <a href="<%= file.shared_link %>">Shared Link</a>
        <% } %>
      </li>
    <% }); %>
  </ul>

  <a href="/files/upload">Upload File</a> | <a href="/">Back to Home</a>
</body>

</html>
